* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant Garamond'), url(./fonts/CormorantGaramond-Regular.ttf);
}
@font-face {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: 400;
  src: local('Cormorant Garamond'), url(./fonts/CormorantGaramond-Italic.ttf);
}
@font-face {
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 700;
  src: local('Cormorant Garamond'), url(./fonts/CormorantGaramond-Bold.ttf);
}
html {
  font-size: 62.5%;
  /* = 10px */
}
body {
  margin: 0 auto;
  max-width: 1440px;
  background-color: rgb(233, 233, 224);
  color: #333;
  font-family: 'Cormorant Garamond', serif;
  font-variant-numeric: lining-nums;
}
.App {
  display: block;
  width: 1400px;
}
.Section1 {
  display: flex;
  margin-top: 1rem;
  margin-left: 25rem;
}
.Section2 {
  display: flex;
  justify-content: space-evenly;
}
.Article1 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 1rem;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
figure img {
  height: 70vh;
}
figcaption {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  /* margin-top: -3rem; */
}